@{
	ViewData["Title"] = "Home Page";
	Layout = "/views/shared/_Layout.cshtml";
}

<h1 id="MainHeader" name="MainHeader">Caelum Navis</h1>



<figure class="Pitch" id="Pitch" name="Pitch">
	
		<article>
			<p id="Begin">
				<h2>The Beginning.</h2> You awake in an air lock. You have a pressure suit on and you see a bright
				red light flashing over and over a long with a loud siren which is getting quieter.
				You feel a sudden pulling sensation and you are rushed back into space. "Breath" you think to yourself.
				You check your air pressure and notice you have a tiny leak. "Think... Think..." You say to yourself as you
				look around the ship graveyard that you have inhabited all your life. You pick the prettiest looking wreck and
				start thinking about how to survive the next day.
			</p>
		</article>


		<article>
			<p id="Middle">
				<h2> The Middle </h2> You wake up in your room that was recently pressurized. You take a deep breath and notice that the
				air seems a bit thin so you decide to check on your oxygen levels. You note that they are a bit low and you decide to hop
				in your pressure suit. The effort it takes to survive never seems to end. You sigh and get to work.
			</p>
		</article>

		<article>
			<p id="End">
				<h2>The End</h2> No matter how many times you have replaced that stupid oxygenator it keeps breaking. This ship is breaking apart around
				you and your pressure suit now has a hole in it. You hear a slight ping come from somewhere behind you followed by a long hissing.
				You suddenly feel tired and sleepy and you notice that everything is quiet. Things slip into a deep blackness and you slowly realize...
			</p>
		</article>
</figure>

