<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/site.css" />
	<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hole and Order Anti-Krabbing Unit</title>

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Caelum Navis</a>
			</div>
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</nav>
	<div class="jumbotron">
		@RenderBody()
	</div>
</body>
</html>
