
@{
	ViewData["Title"] = "CreateCustomer";
	Layout = "/views/shared/_Layout.cshtml";
}

<h2>CreateCustomer</h2>

<form method="post" asp-action="CreateCustomer">
	@*<input for="Message.cust.Name" /> <br />*@
	<label Name="Name">Your Name:  </label>
	<input Name="Name" placeholder="Your Name goes here" /><br />
	<!--Email-->
	<label Name="Email">Your Email:  </label>
	<input Name="Email" placeholder="Your Email goes here" /><br />
	<!--Address-->
	<label Name="Address">Your Address:  </label>
	<input Name="Address" placeholder="Your Address goes here" /><br />
	<!--City-->
	<label Name="City">Your City:  </label>
	<input Name="City" placeholder="Your City goes here" /><br />
	<!--BugOrError-->
	<label Name="ZipCode">Is this about a bug or error? </label>
	<input Name="ZipCode" placeholder="97402" /><br />
	<!--CanContact-->
	<label Name="CanContact">Can we contact you with special offers? </label>
	<input Name="CanContact" type="checkbox" value="true" checked /><br />
	<!--Terms-->
	<label Name="Terms">Do you agree to the terms of service?  </label>
	<input Name="Terms" type="checkbox" value="true" checked /><br />


	<p>
		<input type="submit" value="Submit My Pledge" />
		<input type="reset" value="Cancel" />
	</p>
</form>
