
@{
	ViewData["Title"] = "Message Form";
	Layout = "/views/shared/_Layout.cshtml";
}


<h2>MessageForm</h2>
<body style="background:url(HeaderImage.jpg) no-repeat center center fixed; ">

	<p id="required">Want to get in contact with us? Fill out this form!   </p>
	<figure>
		<legend>Contact Information</legend>
		<form method="post" asp-action="MessagePost">
			@*<input for="Message.cust.Name" /> <br />*@
			<label Name="Name">Your Name:  </label>
			<input Name="Name" placeholder="Your Name goes here" /><br />
			<!--Email-->
			<label Name="Email">Your Email:  </label>
			<input Name="Email" placeholder="Your Email goes here" /><br />
			<!--Reason-->
			<label Name="Reason">Reason For Contacting:  </label>
			<input Name="Reason" placeholder="Your Reason goes here" /><br />
			<!--Address-->
			<label Name="Address">Your Address:  </label>
			<input Name="Address" placeholder="Your Address goes here" /><br />
			<!--City-->
			<label Name="City">Your City:  </label>
			<input Name="City" placeholder="Your City goes here" /><br />
			<!--MessageText-->
			<label Name="MessageText">Your Message:  </label>
			<input Name="MessageText" placeholder="Your Message goes here" /><br />
			<!--BugOrError-->
			<label Name="BugOrError">Is this about a bug or error? </label>
			<input Name="BugOrError" type="checkbox" value="true" checked /><br />
			<!--CanContact-->
			<label Name="CanContact">Can we contact you with special offers? </label>
			<input Name="CanContact" type="checkbox" value="true" checked /><br />
			<!--Terms-->
			<label Name="Terms">Do you agree to the terms of service?  </label>
			<input Name="Terms" type="checkbox" value="true" checked /><br />
			@*
				Name
				Email
				Reason
				Address
				City
				MessageText
				BugOrError
				CanContact
				Terms

			*@
			@*Email:  <input Name="Email" /> <br />
				Reason For Contacting:  <input Name="Reason" /> <br />
				Address: <input Name="Address" /><br />
				City: <input Name="City" /><br />

				Message Text: <input Name="MessageText" /><br />

				Is this regarding a bug or error? <input type="checkbox" Name="bugOrError" /><br />
				Can we contact you with promotional offers?<input type="checkbox" Name="CanContact" /><br />
				Do you agree to the terms of service?<input type="checkbox" Name="Terms" /><br />*@
			<p>
				<input type="submit" value="Submit My Pledge" />
				<input type="reset" value="Cancel" />
			</p>
		</form>
	</figure>
</body>