@model CreateModel;
@{
	ViewData["Title"] = "Create";
	Layout = "/views/shared/_Layout.cshtml";
}


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
</script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<h2>Create</h2>


<div class="bg-primary m-1 p-1 text-white"><h4>Create User</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Admin" asp-action="Create" method="post">
		@Html.ValidationSummary()
		<div class="form-group">
			<label asp-for="UserName"></label>
			<input asp-for="UserName" class="form-control" required />
		</div>
		<div class="form-group">
			<label asp-for="Email"></label>
			<input type="email" asp-for="Email" class="form-control" placeholder="Enter a valid email address" required />
		</div>
		<div class="form-group">
			<label asp-for="Password"></label>
			<input asp-for="Password" class="form-control" pattern=".{6,}" title="your password must be more than 6 characters long" required />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</form>
