
@{
	ViewData["Title"] = "Delete";
	Layout = "/views/shared/_Layout.cshtml";

}

<h2>DELETE PAGE PLACEHOLDER</h2>

<b>Before design decisions are made on this page we are going to wait to see how things shape up with the rest of identity.</b>