
@{
	ViewData["Title"] = "FAQ";
	Layout = "/views/shared/_Layout.cshtml";
}


	<p>This page is under construction but will be where Frequently asked questions about the game go. </p>

<footer> Tim Allen - <a href="http://lanecc.edu/">Lanecc.edu</a> </footer>



