
@{
    ViewData["Title"] = "Index";
    Layout = "/views/shared/_Layout.cshtml";

}

<h2>Info</h2>
<p>
    Hole and Order Anti-Krabbing Unit AKA HOAKU is a wormhole corporation that functions out of a <br />
    C2 class wormhole with C5 and Nullsec statics. We enjoy Black ops fleets
</p>
