
@model week6Lab.Models.RecentKills.RecentKillsViewModel;
@{
    ViewData["Title"] = "RecentKills";
    Layout = "/views/shared/_Layout.cshtml";
    

}

<h2>RecentKills</h2>
<p>These are the exploits of HOAKU</p>
@foreach (RecentKill Kills in Model.recentKillRepo.RecentKills)
{
    <br /><a href="@Kills.Link" style="text-align:center;" target="new">@Kills.Name</a>
}



