@{
    ViewData["Title"] = "Home Page";
    Layout = "/views/shared/_Layout.cshtml";
}

<h1 style="text-align:center">Hole and Order Anti-Krabbing Unit</h1>

<p style="text-align:center">This is the landing page for Hole and Order Anti-Krabbing Unit</p>
