
@{
	ViewData["Title"] = "RoadMap";
	Layout = "/views/shared/_Layout.cshtml";
}
<body>

<h1>The Road Map</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat nec dui sit amet accumsan. Sed nec sem vitae leo scelerisque tempus.
	Morbi faucibus, turpis gravida pretium lobortis, enim ipsum elementum nibh, a semper lorem felis fringilla elit.
	Aliquam quis vulputate nisi, ac ornare dui. Sed ut ligula et tellus gravida euismod.
</p>
<img src="~/images/TestImage1.jpg" alt="Inspiration from the game Rimworld" />
<p>
	Integer pretium feugiat est. Nulla porttitor mauris ligula, sed condimentum orci sagittis et. Maecenas sed egestas neque.
	Mauris ac pretium nunc. Phasellus convallis neque erat, id consectetur mi volutpat pretium. Aenean facilisis purus ac euismod elementum.
	Ut nec ligula et tellus pulvinar aliquet ut nec ante. Phasellus finibus mauris
</p>
<img src="~/images/TestImage2.jpg" alt="Inspiration from the game Rimworld" />
<p>
	Integer pretium feugiat est. Nulla porttitor mauris ligula, sed condimentum orci sagittis et. Maecenas sed egestas neque.
	Mauris ac pretium nunc. Phasellus convallis neque erat, id consectetur mi volutpat pretium. Aenean facilisis purus ac euismod elementum.
	Ut nec ligula et tellus pulvinar aliquet ut nec ante. Phasellus finibus mauris
</p>
<img src="~/images/TestImage3.jpg" alt="Inspiration from the game Eve Online" />

	</body>