<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="~/css/site.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Hole and Order Anti-Krabbing Unit</title>


</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="@Url.Action("Index","Home")">Caelum Navis</a>

			</div>
			<ul class="nav navbar-nav">
				<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="MessageForm">Contact</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="MessageView">View Messages</a></li>
				<li><a asp-area="" asp-controller="Home" asp-action="CustomerView">View Customers</a></li>
				<li><a asp-area="" asp-controller="Admin" asp-action="Index">View Accounts</a></li>
				<li><a asp-area="" asp-controller="RoleAdmin" asp-action="Index">View Roles</a></li>
			</ul>
			<a class="navbar-brand" href="@Url.Action("Logout","Account")">Log Out</a>
		</div>
	</nav>

	<div class="jumbotron">
		@RenderBody()
	</div>
</body>
</html>
