<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hole and Order Anti-Krabbing Unit</title>


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Hole and Order Anti-Krabbing Unit</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="History">History</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-area="" asp-controller="Info" asp-action="Index">Info</a></li>
                <li><a asp-area="" asp-controller="Info" asp-action="Leaders">Leaders</a></li>
                <li><a asp-area="" asp-controller="Info" asp-action="RecentKills">RecentKills</a></li>

            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        @RenderBody()
    </div>
</body>
</html>
