<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="@Url.Action("Index","Home")">Caelum Navis</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a asp-area="" asp-controller="AdminController" asp-action="Index">Index</a></li>
				<li><a asp-area="" asp-controller="AdminController" asp-action="Create">Create</a></li>
			
			</ul>
		</div>
	</nav>
	@RenderBody()
</body>
</html>
